build/
build-test/
dawn-data/
CMakeFiles/
CMakeCache.txt
cmake-build-*/
*.user
*.user.*
*.vcxproj*
*.sln
*.ninja
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.a
*.o
tmp_*.err
tmp_*.txt
dawn_*.err
dawn_*.txt
dawn_*test*.txt
